<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maysam</title>
    <!-- =====Main css====== -->
    <link rel="stylesheet" href="../assets/style.css">
    <!-- =====Bootstrap Link====== -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--========== BOX ICONS ==========-->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <!-- CSS for aos -->
    <link rel="stylesheet" href="assets/vendor/aos/aos.css">
    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    />
</head>
<body>
    <!---Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light  fixed-top">
        <a class="navbar-brand" href="#"><img class="logo" src="../assets/img/MS logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#hero">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#services">services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
    </nav>

    <!----Hero Section-->
    <section class="hero d-flex align-items-center" id="hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12  text-center">
                    <p class="hero-welcome">Hello There I'm Maysam</p>
                    <h1 class="hero-title">Front-End Web Developer</h1>
                    <a href="about"><button class="hero-btn" id="hero-btn">Learn more</button></a>
                </div>
            </div>
        </div>
    </section>

    <!---About section-->
    <section class="about" id="about">
      <div class="container">
        <div class="row">
          <div class=" col-md-6 about-left">
            <img class="maysam-img" alt="" src="../assets/img/maysam.png">
          </div>
          <div class="col-md-6 about-right">
            <h1 class="about-title">About Me</h1>
            <spam class="line-home"></spam>
            <p class="about-p">My name is Maysam Sarradeh,I'm a freelance Front-end web developer based in Aleppo , Syria.
              <br>I'm very passionate and dedicated to my work , with 1 year Experince as a Front-End web developer. I have acquired the skills neccessary to build great website.
            </p>
            <div class="row info-row">
              <div class="col">
                <p class="information">Name: Maysam Sarradeh</p>
                <p class="information">Age: 28</p>
                <p class="information">Address: Aleppo, Syria</p>
              </div>
              <div class="col">
                <p class="information">Email: maysamsarradeh@gmail.com</p>
                <p class="information">Freelance: Available</p>
              </div>
            </div>
            <a href="/Maysam sarradeh 2022.pdf">
              <button class="about-btn">Download CV</button>
            </a>
          </div>
        </div>
      </div>
    </section>

    <!--Counters section-->
    <section class="counters" id="counters">
      <div class="container">
        <div class="row d-flex align-items-center justify-conyent-center">
          <div class="col-md-4">
            <div class="counter-box">
              <span data-purecounter-start="0" data-purecounter-end="1" data-purecounter-duration="1" class="purecounter"></span>
              <p class="counter-p">Years Experience</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="counter-box">
              <span data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="1" class="purecounter"></span>
              <p class="counter-p">Completed Projects</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="counter-box">
              <span data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="1" class="purecounter"></span>
              <p class="counter-p">Happy Customers</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    

    <!--Services section-->
    <section class="services" id="services">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <h1 class="about-title">Service Provide For My Clients</h1>
            <spam class="line-section"></spam>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <div class="ser-box">
              <i class='bx bxl-wordpress ser-bx'></i>
              <h3 class="ser-title">Wordpress Developer</h3>
              <p class="ser-p">Develop and implement responsive front-end ui(web and mobile) using wordpress and elementor.</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="ser-box">
              <i class='bx bx-code-block ser-bx'></i>
              <h3 class="ser-title">Front-End Developer</h3>
              <p class="ser-p">Ability to build and design front end website and ensure that web design is mobile friendly using html,css,javascript and bootstrap.</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="ser-box">
              <i class='bx bx-transfer ser-bx'></i>
              <h3 class="ser-title">Transform UI/UX Designs</h3>
              <p class="ser-p">Transform any figma and adobe xd design's into front-end code.</p>
            </div>
          </div>
        </div>
      </div>
    </section>



    <!--projects section-->
    <section class="projects" id="projects">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <h1 class="about-title">My Completed Projects</h1>
            <spam class="line-section"></spam>
          </div>
        </div>
      
      </div>

      <!-- Swiper -->
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="project-box">
            <img alt="" class="pro-img" src="../assets/img/vip plane.PNG">
            <h2 class="pro-title">Vip Plane</h2>
            <a href="https://maysamsarradeh.github.io/vip-plane/"><p class="pro-p">Visit Site <i class='bx bx-right-arrow-alt'></i></p></a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="project-box">
            <img alt="" class="pro-img" src="../assets/img/medical site.PNG">
            <h2 class="pro-title">Medical Site</h2>
            <a href="https://maysamsarradeh.github.io/medical-site/"><p class="pro-p">Visit Site <i class='bx bx-right-arrow-alt'></i></p></a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="project-box">
            <img alt="" class="pro-img" src="../assets/img/livy.PNG">
            <h2 class="pro-title">Livy</h2>
            <a href="https://maysamsarradeh.github.io/livy/views/index.html"><p class="pro-p">Visit Site <i class='bx bx-right-arrow-alt'></i></p></a>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="project-box">
            <img alt="" class="pro-img" src="../assets/img/resturant.PNG">
            <h2 class="pro-title">My Resturant</h2>
            <a href="https://maysamsarradeh.github.io/resturant/views/index.html"><p class="pro-p">Visit Site <i class='bx bx-right-arrow-alt'></i></p></a>
          </div>
        </div>
        
      </div>
      <div class="swiper-pagination"></div>
    </div>


    </section>

    <!--contact section-->
    <section class="contact" id="contact">
      <div class="row">
        <div class="col-md-8 text-lg-left text-center contact-left">
          <h1 class="contact-title">Let's work together on your next project</h1>
        
          <div class="row ">
            <div class="col text-lg-left text-center">
              <i class='bx bx-envelope icon1'></i>
              <p class="email">Maysamsarradeh@gmail.com</p>
            </div>
           
          </div>
        </div>

        <div class="col-md-4 text-center contact-right">
          <a href="https://www.facebook.com/mesooo.sa"><i class='bx bxl-facebook icon' ></i></a>
          <a href="https://www.linkedin.com/in/maysam-sarradeh-69a31b247"><i class='bx bxl-linkedin icon' ></i></a>
          <a href="https://www.behance.net/maysamsarr6ad5"><i class='bx bxl-behance icon' ></i></a>
        </div>
      </div>
    </section>

    <!--footer section-->
    <section class="footer" id="footer">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <div class="footer-nav">
              <a href="#hero"><p>Home</p></a>
              <a href="#about"><p>About</p></a>
              <a href="#services"><p>services</p></a>
              <a href="#projects"><p>Projects</p></a>
              <a href="#contact"><p>Contact</p></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- =====Footer ====== -->
    <footer class="footer-right" id="footer-right">
      <div class="container">
        <div class="row">
          <div class="col-md-3 text-lg-left text-center">
            <img class="footer-logo" src="../assets/img/MS logo.png">
          </div>
          <div class="col-md-6 text-center">
            <a href="https://www.facebook.com/mesooo.sa"><i class='bx bxl-facebook footer-icon' ></i></a>
            <a href="https://www.linkedin.com/in/maysam-sarradeh-69a31b247"><i class='bx bxl-linkedin footer-icon' ></i></a>
            <a href="https://www.behance.net/maysamsarr6ad5"><i class='bx bxl-behance footer-icon' ></i></a>
          </div>
          <div class="col-md-3">
            <p class="footer-copy text-md-right text-center">&#169;2022 Designed by Maysam Sa.</p>
          </div>
        </div>
      </div>
    </footer>


    <!--========== SCROLL TOP ==========-->
    <a href="#" class="scrolltop" id="scroll-top"> 
      <i class='bx bx-chevron-up scrolltop__icon'></i>
    </a> 



    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <!--========== SCROLL REVEAL ==========-->
    <script src="https://unpkg.com/scrollreveal"></script>
    <!-- =====Main JS====== -->
    <script src="../assets/index.js"></script>
    <!-- =====Bootstrap JS====== -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--Counters JS-->
    <script src="../assets/vendor/purecounter/purecounter.js"></script>
</body>
</html>